<p>
  Calculate Div
</p>

<div *ngIf="online"> Service running</div>
<div *ngIf="!online"> Service not running . </div>

First Number:
<input type="text" [(ngModel)]="div.x" [disabled]="loading" />
<p>  </p>
Second Number:
<input  type="text" [(ngModel)]="div.y"  [disabled]="loading" />
<p>
  And ...
</p>
<button (click)="calculateDiv()" value="Calculate" [disabled]="loading">Calculate</button>
{{message}}

<p>
  Advanced
  <input type="text" [(ngModel)]="myService.UrlAPI" [disabled]="loading" />
  <button  (click)= "seeOnline()" [disabled]="loading">Try connection</button>
</p>
<p>Demos</p>


<p>
  https://ignatandrei.github.io/AngNetCoreDemo/
</p>
<p>
  https://ang-net-core.herokuapp.com/
</p>
<p>
https://ignatandrei.github.io/AngNetCoreDemo/
</p>
<p>
https://localhost:5001/
</p>